<p>Счетчик просмотров: {{ book_id.views }}</p>
<p><strong>Название:</strong> {{  book_id.title }}</p>
<p>
<img src="{{ book_id.image.url }}" alt="" width="300" height="400"
</p>
<p><strong>Описание:</strong> {{ book_id.description }}</p>

<p><strong>Год создания:</strong> {{ book_id.created_data_lang }}</p>
<p><strong>Главы:</strong> {{ book_id.chapter_count }}</p>
<p><strong>Автор:</strong> {{ book_id.author }}</p>
<p><strong>Страницы:</strong> {{ book_id.pages }}</p>
<p><strong>Язык:</strong> {{ book_id.language }}</p>
<p><strong>Издательство:</strong> {{ book_id.publisher }}</p>
<p><strong>Добавлено:</strong> {{ book_id.created_at }}</p>